.heroImage img {
    width: 100%;
    height: auto;
}

.productImages {
    border: 1px solid seagreen;
}

.products {
    border: 1px solid grey;
}

pre {
    display: none;
}

.border img {
    border: solid 1px green;
    width: 100%;
}

button {
    display: block;


}

.waves-effect {
    display: block;
    margin: 0 auto;
    margin-top: 11px;
    width: 170px;
    border-radius: 23px;
}

.hero {
    margin-top: 50px;
}

.nav-brackground {
    background-color: rgb(191, 194, 193);
}

.nav-wrapper {
    margin: 0 15px;
}

ul li a {
    color: black;
}

.brand-logo {
    color: black;
}

.page-footer {
    background-color: rgb(191, 194, 193);
}