.heroImage img {
    width: 100%;
    height: auto;
}

.productImages {
    border: 1px solid seagreen;
}

.products {
    border: 1px solid grey;
}

pre {
    display: none;
}

.border img {
    border: solid 1px green;
    width: 100%;
}

button {
    display: block;


}

.waves-effect {
    display: block;
    margin: 0 auto;
    margin-top: 11px;
    width: 170px;
    border-radius: 23px;
}

.hero {
    margin-top: 50px;
}

.nav-brackground {
    background-color: rgb(191, 194, 193);
}

.nav-wrapper {
    margin: 0 15px;
}

ul li a {
    color: black;
}

.brand-logo {
    color: black;
}

.page-footer {
    background-color: rgb(191, 194, 193);
}

/*  */
.signing-up {
    position: fixed;
    bottom: 100px;
    left: 30px;
    color: white;
    background-color: #ee6e73 !important;
    height: 90px;
    width: 180px;
    position: absolute;
    text-align: center;
    padding-top: 7px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}